<div id="locationContainer">

      <div id="searchContainer">
          
        <div id="addressContainer" class="input">
          <h6>Enter In Address</h4>
          <input id="addressInput" type="text">
        </div>
        <div id="nameContainer" class="input">
          <h6>Enter Location Name</h4>
          <input id="locationName" type="text">
        </div>
        <div id="typeContainer" class="input">
          <h6>Enter the Location Service Type (Adoption Center, Dog Park, etc.)</h4>
          <input id="locationType" type="text">
        </div>
        <button id="searchBtn" class="searchBtn" type="submit">Search</button>
        <button id="saveBtn" class="saveBtn" type="submit">Save</button>
      </div>

      <div id="savedContainer" cl>
        <div class="card">
          <h2>tHIS PLACE</h2>
          <div class="card-body">
            <h4>address</h4>
            <p>this place is great!</p>
          </div>
        </div>
      </div>
    </div>

    <div id="map">
    </div>

    <!-- Google Map Script -->
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu4TVPmiIOe_je5t4lEM7zYM0jy_jK-4c&libraries=places&callback=initMap">
    </script>

 