<div id="ask-View">

  <div class="final-view-container">
    <div class="final-view-final-view">
      <div class="final-view-answers"></div>
      <div class="final-view-group7">
        <img src="../Mockup/FinalQView/public/playground_assets/askarea1523-tsg-1600w.png" alt="askarea1523"
          class="final-view-askarea" />
        <span class="final-view-text">
          <span>
            ex. Gemma Johnstone of The Spruce Pets: “There is nothing wrong
            with choosing to have your dog sleep elsewhere. Just be
            consistent, make sure they have a comfortable space and reward
            them for going there. Separate sleeping areas can be especially
            beneficial under certain circumstances.” (Reference)
          </span>
        </span>
      </div>
      <div class="final-view-question">
        <span class="final-view-text02">
          <span>Submit your question</span>
        </span>
        <div class="final-view-form-area">
          <span class="final-view-text04">
            <span>Is it ok for dogs to sleep on the bed?</span>
          </span>
        </div>
      </div>
      <div class="final-view-group3">
        <span class="final-view-text06"><span>DOG HEALTH</span></span>
      </div>
      <div class="final-view-group4">
        <span class="final-view-text08"><span>DOG TRAINING</span></span>
      </div>
      <div class="final-view-group5">
        <span class="final-view-text10"><span>DOG NUTRITION</span></span>
      </div>
      <div class="final-view-group6">
        <span class="final-view-text12"><span>RAW DOG FOOD</span></span>
      </div>
      <div class="final-view-who-submit-area">
        <img src="../Mockup/FinalQView/public/playground_assets/ralugalg8cb8hy3yvuunsplash1image1525-vyq-200h.png"
          alt="ralugalG8cB8hY3yvUunsplash1image1525" class="final-view-ralugal-g8c-b8h-y3yv-uunsplash1image" />
        <span class="final-view-text14">
          <span class="final-view-text15">Matthew Rankin</span>
          <span class="final-view-text16">447k</span>
          <span>asked Jan 5, 2010 at 1:12 pm</span>
        </span>
      </div>
      <div class="final-view-loginout">
        <div class="final-view-b-t-n-g-r-p-logbutton">
          <span class="final-view-text18"><span>Log in</span></span>
        </div>
        <div class="final-view-b-t-n-g-r-p-signbutton">
          <span class="final-view-text20"><span>Sign Up</span></span>
        </div>
      </div>
      <div class="final-view-b-t-n-g-r-psearchbutton">
        <span class="final-view-text22"><span>Search Q&amp;A</span></span>
      </div>
      <span class="final-view-text24"><span>Mention</span></span>
      <span class="final-view-text26">
        <span class="final-view-text27">by mommy#20</span>
        <span>Jan 20, 2010 at 3:00 am</span>
      </span>
      <div class="final-view-search-barinput">
        <span class="final-view-text29"><span>Search ...</span></span>
      </div>
      <div class="final-view-filter">
        <div class="final-view-filter-comp">
          <div class="final-view-newestbutton">
            <div class="final-view-filter1">
              <span class="final-view-text31"><span>Newest</span></span>
            </div>
          </div>
          <div class="final-view-activebutton">
            <span class="final-view-text33"><span>Active</span></span>
          </div>
          <div class="final-view-frequentbutton">
            <span class="final-view-text35"><span>Frequent</span></span>
          </div>
          <div class="final-view-scorebutton">
            <span class="final-view-text37"><span>Score</span></span>
          </div>
          <div class="final-view-filterbutton">
            <span class="final-view-text39"><span>Filter</span></span>
            <img src="../Mockup/FinalQView/public/playground_assets/vector1i152-cba.svg" alt="Vector1I152"
              class="final-view-vector1" />
            <img src="../Mockup/FinalQView/public/playground_assets/playground_assets/vector2i152-b6k5.svg"
              alt="Vector2I152" class="final-view-vector2" />
            <img src="../Mockup/FinalQView/public/playground_assets/vector3i152-yi9.svg" alt="Vector3I152"
              class="final-view-vector3" />
          </div>
        </div>
      </div>
      <div class="final-view-frame-votes-bar">
        <span class="final-view-text41"><span>####</span></span>
        <span class="final-view-text43"><span>votes</span></span>
        <div class="final-view-group2">
          <img src="../Mockup/FinalQView/public/playground_assets/rectangle11527-4awf-200h.png" alt="Rectangle11527"
            class="final-view-rectangle1" />
          <span class="final-view-text45"><span>### answers</span></span>
        </div>
        <span class="final-view-text47"><span>## views</span></span>
      </div>
    </div>
  </div>
</div>