.main-q-a-main-q-a {
    width: 100%;
    height: 1100px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .main-q-a-b-gimage {
    top: 8px;
    left: 10px;
    width: 990px;
    height: 1081px;
    position: absolute;
  }
  .main-q-a-search-b-gimage {
    top: 108px;
    left: -1px;
    width: 1000px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }
  .main-q-a-b-g {
    width: 991px;
    height: 38px;
    position: relative;
    margin-bottom: 10px;
  }
  .main-q-a-question-frame {
    top: 247px;
    flex: 1;
    left: 118px;
    width: 881px;
    height: 234px;
    display: flex;
    padding: 6px 0;
    position: absolute;
    min-width: auto;
    align-items: flex-start;
    border-color: rgba(253, 211, 93, 1);
    border-style: solid;
    border-width: Symbol(figma.mixed)px;
    flex-direction: column;
    background-color: rgba(128, 73, 1, 0.53);
  }
  .main-q-a-frame-votes-bar {
    width: 271px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 15px;
  }
  .main-q-a-text {
    color: rgba(255, 255, 255, 1);
    width: 42px;
    height: auto;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .main-q-a-text02 {
    color: rgba(255, 255, 255, 1);
    width: 44px;
    height: auto;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .main-q-a-group2 {
    width: 101px;
    height: 18px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .main-q-a-rectangle1 {
    top: 0px;
    left: 10px;
    width: 81px;
    height: 18px;
    position: absolute;
    border-color: transparent;
    border-radius: 4px;
  }
  .main-q-a-text04 {
    top: 2px;
    color: rgba(253, 211, 93, 1);
    width: 101px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-q-a-text06 {
    color: rgba(255, 255, 255, 1);
    width: 71px;
    height: auto;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .main-q-a-frame10 {
    width: 882px;
    display: flex;
    padding: 0 40px;
    z-index: 1;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 15px;
    flex-direction: column;
  }
  .main-q-a-text08 {
    color: rgba(253, 211, 93, 1);
    width: 810px;
    height: auto;
    font-size: 32px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 15px;
    text-decoration: none;
  }
  .main-q-a-text10 {
    color: rgba(255, 255, 255, 1);
    width: 817px;
    height: auto;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .main-q-a-text11 {
    text-decoration: NONE;
  }
  .main-q-a-referance {
    top: 137px;
    left: 135px;
    display: flex;
    padding: 9px 127px 39px 127px;
    z-index: 2;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 15px;
  }
  .main-q-a-group3 {
    width: 84px;
    height: 18px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 15px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(51, 161, 253, 1);
  }
  .main-q-a-text13 {
    top: 2px;
    left: 3px;
    color: rgba(255, 255, 255, 1);
    width: 78px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-q-a-group4 {
    width: 100px;
    height: 18px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 15px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(0, 31, 82, 1);
  }
  .main-q-a-text15 {
    top: 1px;
    color: rgba(253, 211, 93, 1);
    width: 100px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-q-a-group5 {
    width: 100px;
    height: 18px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 15px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(51, 161, 253, 1);
  }
  .main-q-a-text17 {
    top: 1px;
    color: rgba(255, 255, 255, 1);
    width: 100px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-q-a-group6 {
    width: 100px;
    height: 18px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(51, 161, 253, 1);
  }
  .main-q-a-text19 {
    top: 1px;
    color: rgba(255, 255, 255, 1);
    width: 100px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-q-a-who-submit-area {
    width: 882px;
    display: flex;
    padding: 0 31px;
    z-index: 3;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    justify-content: flex-end;
  }
  .main-q-a-ralugal-g8c-b8h-y3yv-uunsplash1image {
    left: 539px;
    width: 44px;
    bottom: -67px;
    height: 29px;
    position: absolute;
    border-color: transparent;
  }
  .main-q-a-text21 {
    color: rgb(255, 255, 255);
    right: 21px;
    width: 250px;
    bottom: -59px;
    height: auto;
    position: absolute;
    font-size: 10px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-q-a-text22 {
    font-weight: 400;
  }
  .main-q-a-text23 {
    font-weight: 700;
  }
  .main-q-a-search-bar {
    top: 126px;
    left: 9px;
    width: 991px;
    display: flex;
    padding: 0 31px;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .main-q-a-b-t-n-g-r-psearchbutton {
    width: 92px;
    height: 24px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 25px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(0, 31, 82, 1);
  }
  .main-q-a-text25 {
    top: 4px;
    left: 10px;
    color: rgba(51, 161, 253, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-q-a-search-barinput {
    width: 266px;
    height: 24px;
    display: flex;
    padding: 0;
    z-index: 1;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 25px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(253, 211, 93, 1);
  }
  .main-q-a-text27 {
    top: 5px;
    left: 7px;
    color: rgba(51, 17, 51, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-q-a-loginout {
    top: 0px;
    left: 678.841796875px;
    width: 273px;
    height: 24px;
    display: flex;
    padding: 0;
    z-index: 2;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .main-q-a-b-t-n-g-r-p-logbutton {
    top: 5.6843418860808015e-14px;
    left: 0px;
    width: 129.28713989257812px;
    height: 24px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(0, 31, 82, 1);
  }
  .main-q-a-text29 {
    top: 5px;
    left: 39.3482666015625px;
    color: rgba(253, 211, 93, 1);
    width: 49px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-q-a-b-t-n-g-r-p-signbutton {
    top: 0px;
    left: 143.34007263183594px;
    width: 129.28713989257812px;
    height: 24px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(253, 211, 93, 1);
  }
  .main-q-a-text31 {
    top: 4px;
    left: 33.72706604003906px;
    color: rgba(51, 161, 253, 1);
    width: 63px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-q-a-qand-a {
    top: 157px;
    left: 147px;
    width: 177px;
    height: 55px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
  }
  .main-q-a-text33 {
    color: rgba(253, 211, 93, 1);
    height: auto;
    font-size: 32px;
    align-self: auto;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 10px;
    text-decoration: none;
  }
  .main-q-a-ask-questionsbutton {
    top: 174px;
    left: 670px;
    width: 90px;
    display: flex;
    padding: 4px 7px;
    position: absolute;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.49000000953674316) ;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 4px;
    background-color: rgba(51, 17, 51, 1);
  }
  .main-q-a-text35 {
    color: rgba(253, 211, 93, 1);
    height: auto;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .main-q-a-filter {
    top: 202px;
    left: 604px;
    width: 349px;
    display: flex;
    padding: 10px 75px 10px 66px;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
  }
  .main-q-a-filter-comp {
    display: flex;
    position: relative;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.5) ;
    align-items: flex-start;
    border-color: transparent;
  }
  .main-q-a-newestbutton {
    width: 53px;
    height: 24px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .main-q-a-filter1 {
    top: 0px;
    left: 0px;
    width: 53px;
    height: 24px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(51, 161, 253, 1);
  }
  .main-q-a-text37 {
    top: 5px;
    left: 4px;
    color: rgba(253, 211, 93, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-q-a-activebutton {
    width: 53px;
    height: 24px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(51, 17, 51, 1);
  }
  .main-q-a-text39 {
    top: 5px;
    left: 8px;
    color: rgba(51, 161, 253, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-q-a-frequentbutton {
    width: 53px;
    height: 24px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(253, 211, 93, 1);
  }
  .main-q-a-text41 {
    top: 5px;
    left: 1px;
    color: rgba(0, 31, 82, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-q-a-scorebutton {
    width: 53px;
    height: 24px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(51, 17, 51, 1);
  }
  .main-q-a-text43 {
    top: 5px;
    left: 10px;
    color: rgba(253, 211, 93, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-q-a-filterbutton {
    width: 53px;
    height: 24px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(51, 161, 253, 1);
  }
  .main-q-a-text45 {
    top: 4px;
    left: 19px;
    color: rgba(253, 211, 93, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-q-a-vector1 {
    top: 7px;
    left: 3px;
    width: 13px;
    height: 2px;
    position: absolute;
  }
  .main-q-a-vector2 {
    top: 10px;
    left: 5px;
    width: 9px;
    height: 2px;
    position: absolute;
  }
  .main-q-a-vector3 {
    top: 13px;
    left: 7px;
    width: 5px;
    height: 2px;
    position: absolute;
  }
  