<nav class="navbar" style="background-color: white;">
    <form class="container-fluid justify-content-end">
        <button
            class="btn btn-outline-success me-2"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#addPost"
        >➕</button>
        <button class="btn btn-outline-success me-2" type="button">🖤</button>
        <button class="btn btn-outline-success me-2" type="button">💬</button>
    </form>
</nav>
<div class="" style="background-color: rgb(1, 53, 67); width: 100%;">
    {{#each posts as |post|}}
        <div class="row">
            <div class="col d-flex justify-content-center m-1">

                <div class="card" style="width:400px;">
                    <img src="{{post.photo}}" class="card-img-top" alt="..." />
                    <div class="row card-body" style="height: 150px;">
                        <div class="card-title text-center">
                            <h6>{{post.user_name}}
                                <span class="d-flex justify-content-end">
                                    1 👍
                                </span>
                            </h6>

                            <p class="card-text">{{post.text}}</p>
                            <a
                                href="#"
                                class="btn btn-primary"
                                style="width: 70px;"
                            >Like</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}

    <!-- Modal -->
    <div
        class="modal fade"
        id="addPost"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create Post</h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="container-md ">
                        <div class="row">
                            <input type="file">
                            <img src="/images/paw.png" alt="paw silhouette" style="opacity: 20%;">
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >Cancel</button>
                    <button type="button" class="btn btn-primary">Post</button>
                </div>
            </div>
        </div>
    </div>
</div>