<div class="container">
    <form class="container-fluid p-2">
        <button
            class="btn btn-info me-2"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#addPost"
        >➕</button>
        <button class="btn btn-info me-2" type="button">🖤</button>
        <button class="btn btn-info me-2" type="button">💬</button>
    </form>
    {{#each posts as |post|}}
        <div class="row">
            <div class="col d-flex justify-content-center">

                <div class="card" style="width:400px; ">
                    <img src="{{post.photo}}" class="card-img-top" alt="..." />
                    <div class="row card-body" style="height: 150px;">
                        <div class="card-title text-center">
                            <h6>{{post.user_name}}
                                <span class="d-flex justify-content-end">
                                    1 👍
                                </span>
                            </h6>
                            <p
                                class="card-text"
                                style="color:black; height: 10px; font-size: 10px;"
                            >{{post.text}} </p>
                            <a
                                href="#"
                                class="btn btn-primary"
                                style="width: 70px; "
                            >Like</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}

    <!-- Modal -->
    <div
        class="modal fade"
        id="addPost"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5" id="exampleModalLabel">Create
                        Post</h2>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="container-md">
                        <div class="row imgDiv">
                            <form id="postForm">
                                <input type="file" class="chooseFile" id="selectFile"/>
                                
                                    <img id="tempImg"
                                        class="img-thumbnail"
                                        src="/images/paw.png"
                                    />
                                
                            </form>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >Cancel</button>
                    <button id="postBtn" type="button" class="btn btn-primary">Post</button>
                </div>
            </div>
        </div>
    </div>
</div>