@font-face {
    font-family: "paw";
    src: url("/images/paw.ttf");
} 


:root {
    /* --test-color1: #0D0D0D;
    --test-color2: #1A2601; */
}

#map {
    height: 800px;
    width: 60%;
    float: right;
}

#locations {
    width: 40%;
    float: left;
}

body {
    background-color: #001f52;
}

.card-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    /* padding-top: 3%; */
    padding-bottom: 10%;
    padding-left: 20px;
    font-style: italic;
    margin: 5px;
}

.logo {
    padding-left: 30px;
    background-color: #31393c;
    color: #fdd35d;
    font-family: "paw";
    font-size: 100px;
}


.homepage .rightCol {
    margin-top: 20px;
    border-radius: 20px;
    background-color: white;
    background-image:url('/images/pawprint.jpg');
    
}


.homepage .leftCol {
    vertical-align: middle;
}

.postCard {
    margin: 10px;
}
